<div class="card-wrapper">
    <div class="card">
        <div class="card-body login-form">
            <h1 class="card-title text-center mb-5 mt-5">Log In</h1>
            <form class="card-text" [formGroup]="loginForm">
                <div class="mb-3 mx-5">
                    <label for="userName" class="form-label">UserName</label>
                    <input formControlName="userName" type="text" class="form-control" id="userName">
                </div>
                <div class="mb-3 mx-5">
                    <label for="password" class="form-label">Password</label>
                    <input formControlName="password" type="text" class="form-control" id="password">
                    <p class="form-text text-end">Forgot password?</p>
                </div>
                <div class="d-flex justify-content-center">
                    <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary" [routerLink]="['/app']">Log In</button>
                </div>
            </form>
        </div>
    </div>
</div>