<div class="card-wrapper">
    <div class="card">
        <div class="card-body login-form">
            <h1 class="card-title text-center mb-5 mt-5">Log In</h1>
            <div class="card-text">
                <div class="mb-3 mx-5">
                    <label for="email" class="form-label">UserName</label>
                    <input type="text" class="form-control" id="email">
                </div>
                <div class="mb-3 mx-5">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" class="form-control" id="password">
                    <p class="form-text text-end">Forgot password?</p>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">LOG IN</button>
                </div>
            </div>
        </div>
    </div>
</div>